backup/

beets/.config/beets/library.db
beets/.config/beets/state.pickle

etc/etc/openvpn/
!etc/etc/openvpn/client/

etc/etc/zypp/repos.d/*.repo
!etc/etc/zypp/repos.d/download.opensuse.org-non-oss.repo
!etc/etc/zypp/repos.d/download.opensuse.org-oss.repo
!etc/etc/zypp/repos.d/download.opensuse.org-tumbleweed.repo
!etc/etc/zypp/repos.d/home:dmarcoux.repo
!etc/etc/zypp/repos.d/packman.inode.at-openSUSE_Tumbleweed.repo

gpg/.gnupg/
!gpg/.gnupg/gpg-agent.conf
!gpg/.gnupg/gpg.conf

ranger/.config/ranger/history
ranger/.config/ranger/tagged

vim/.vim/.netrwhist
vim/.vim/plugged/

weechat/.config/weechat/
!weechat/.config/weechat/settings.inwee

xfce/.config/xfce4/xfce4-screenshooter
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce/.config/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
