backup/

etc/etc/openvpn/
!etc/etc/openvpn/client/

etc/etc/zypp/repos.d/*.repo
!etc/etc/zypp/repos.d/home:dmarcoux.repo
!etc/etc/zypp/repos.d/packman.inode.at-openSUSE_Tumbleweed.repo

gpg/.gnupg/
!gpg/.gnupg/gpg-agent.conf
!gpg/.gnupg/gpg.conf

ranger/.config/ranger/history
ranger/.config/ranger/tagged

vim/.vim/.netrwhist
vim/.vim/plugged/
